# assignment

In [73]:
import pymongo
from datetime import datetime
import json

# setting up mongoDB

In [74]:
client=pymongo.MongoClient('localhost',27017)

In [75]:
mydatabase=client.list_database_names

In [76]:
db=client['schoolDB']
collection=db['student']

# 3. CRUD Operations

In [77]:
students=[
  {  "_id": 100, 
    "name": "Amruth Pai", 
    "age": 27, 
    "grade": 'A', 
    "subjects": ['BA with R','RDBMS','Advance Stats','Data viz'], 
    "enrollment_date": datetime(2024,11,12)
  },
 {  "_id": 101, 
    "name": "Sharath Prabhu", 
    "age": 27, 
    "grade": 'B', 
    "subjects": ['AI and cloud','RDBMS','Advance Stats','Data viz'], 
    "enrollment_date": datetime(2024,5,12)
  },
   {  "_id": 102, 
    "name": "Akshath Pai", 
    "age": 26, 
    "grade": 'A', 
    "subjects": ['control unit','CAAD','Advance Stats','Data viz'], 
    "enrollment_date": datetime(2024,4,12)
  },
   {  "_id": 103, 
    "name": "Subhodh Kalley", 
    "age": 27, 
    "grade": 'C', 
    "subjects": ['basic stats','data science','Advance Stats','Data viz'], 
    "enrollment_date": datetime(2023,11,12)
  },
   {  "_id": 104, 
    "name": "Chiranth ", 
    "age": 27, 
    "grade": 'A', 
    "subjects": ['mircoprocessors','RDBMS','Advance Stats','Data viz'], 
    "enrollment_date": datetime(2024,1,12)
  },

]

In [78]:
# to delete records in a collection 
collection.delete_many({})

DeleteResult({'n': 4, 'ok': 1.0}, acknowledged=True)

In [79]:
# Q1 insert students to collection
insert_record=collection.insert_many(students)
insert_record

InsertManyResult([100, 101, 102, 103, 104], acknowledged=True)

In [80]:
#2 Fetch all students 
students_info=collection.find({})
students

[{'_id': 100,
  'name': 'Amruth Pai',
  'age': 27,
  'grade': 'A',
  'subjects': ['BA with R', 'RDBMS', 'Advance Stats', 'Data viz'],
  'enrollment_date': datetime.datetime(2024, 11, 12, 0, 0)},
 {'_id': 101,
  'name': 'Sharath Prabhu',
  'age': 27,
  'grade': 'B',
  'subjects': ['AI and cloud', 'RDBMS', 'Advance Stats', 'Data viz'],
  'enrollment_date': datetime.datetime(2024, 5, 12, 0, 0)},
 {'_id': 102,
  'name': 'Akshath Pai',
  'age': 26,
  'grade': 'A',
  'subjects': ['control unit', 'CAAD', 'Advance Stats', 'Data viz'],
  'enrollment_date': datetime.datetime(2024, 4, 12, 0, 0)},
 {'_id': 103,
  'name': 'Subhodh Kalley',
  'age': 27,
  'grade': 'C',
  'subjects': ['basic stats', 'data science', 'Advance Stats', 'Data viz'],
  'enrollment_date': datetime.datetime(2023, 11, 12, 0, 0)},
 {'_id': 104,
  'name': 'Chiranth ',
  'age': 27,
  'grade': 'A',
  'subjects': ['mircoprocessors', 'RDBMS', 'Advance Stats', 'Data viz'],
  'enrollment_date': datetime.datetime(2024, 1, 12, 0, 0)}]

In [81]:
#3 update details 

#update one record 
update_log=collection.update_one(
        {'name':'Amruth Pai'}, #filter 
        { '$set':{'enrollment_date':datetime(2021,11,12)}} #upate operation
);
update_log

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [82]:
#update many records 
update_log=collection.update_many(
    {'age':{'$gte':27}},
    {'$inc':{'age':-1}}
)
update_log

UpdateResult({'n': 4, 'nModified': 4, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [83]:
#Q4: Remove a student from the database using their _id.
delete_log=collection.delete_one(
    {'_id':104}
)
delete_log

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [84]:
#Q5 Count students by grade and display results 
pipeline=[
    {'$group':{'_id':'$grade','count':{'$sum':1}}}, #group by grade and count
    {'$sort':{'_id':1}} #alphabetical sort
]

result=collection.aggregate(pipeline)
for res in result:
    print(f"Grade: {res['_id']}, Count: {res['count']}")

Grade: A, Count: 2
Grade: B, Count: 1
Grade: C, Count: 1

In [85]:
#Q6 create a seperate subject collection 
collection2=db['subjects']
collection2.delete_many({})
subjects=[
    {'_id':1,'name':'Advance Statistics'},
    {'_id':2,'name':'Business Analytics with R'},
    {'_id':3,'name':'Data visualization'},
    {'_id':4,'name':'Database Foundation'},
    {'_id':5,'name':'Applied ML'},
]
subjects_log=collection2.insert_many(subjects)
subjects_log

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [86]:
#create student collection with subject references
# delete attribute
# collection.update_many(
#     {},
#     {'$unset':{'subjects':''}}

#update attribute name
collection.update_many(
    {},
    {'$rename':{'subjects':'subject_ids'}}
)

# update all the subjects with ids
collection.update_one(
    {'_id':100},
    {'$set':{'subject_ids':[1,2,3]}}
)
collection.update_one(
    {'_id':101},
    {'$set':{'subject_ids':[2,3]}}
)
collection.update_one(
    {'_id':102},
    {'$set':{'subject_ids':[1,4]}}
)

collection.update_one(
    {'_id':103},
    {'$set':{'subject_ids':[4,3]}}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [87]:
students_updated=collection.find({})
for student in students_updated:
    print(student)

{'_id': 100, 'name': 'Amruth Pai', 'age': 26, 'grade': 'A', 'enrollment_date': datetime.datetime(2021, 11, 12, 0, 0), 'subject_ids': [1, 2, 3]}
{'_id': 101, 'name': 'Sharath Prabhu', 'age': 26, 'grade': 'B', 'enrollment_date': datetime.datetime(2024, 5, 12, 0, 0), 'subject_ids': [2, 3]}
{'_id': 102, 'name': 'Akshath Pai', 'age': 26, 'grade': 'A', 'enrollment_date': datetime.datetime(2024, 4, 12, 0, 0), 'subject_ids': [1, 4]}
{'_id': 103, 'name': 'Subhodh Kalley', 'age': 26, 'grade': 'C', 'enrollment_date': datetime.datetime(2023, 11, 12, 0, 0), 'subject_ids': [4, 3]}

In [89]:
#Q7 loopup to join subjects with students 

lookup_log=collection.aggregate(
    [
        {
            '$lookup':{
                'from':'subjects',
                'localField':'subject_ids',
                'foreignField':'_id',
                'as':'subject_details'
            }
        }
    ]
)
for data in lookup_log:
    print(json.dumps(data,default=str,indent=4))

{
    "_id": 100,
    "name": "Amruth Pai",
    "age": 26,
    "grade": "A",
    "enrollment_date": "2021-11-12 00:00:00",
    "subject_ids": [
        1,
        2,
        3
    ],
    "subject_details": [
        {
            "_id": 3,
            "name": "Data visualization"
        },
        {
            "_id": 2,
            "name": "Business Analytics with R"
        },
        {
            "_id": 1,
            "name": "Advance Statistics"
        }
    ]
}
{
    "_id": 101,
    "name": "Sharath Prabhu",
    "age": 26,
    "grade": "B",
    "enrollment_date": "2024-05-12 00:00:00",
    "subject_ids": [
        2,
        3
    ],
    "subject_details": [
        {
            "_id": 2,
            "name": "Business Analytics with R"
        },
        {
            "_id": 3,
            "name": "Data visualization"
        }
    ]
}
{
    "_id": 102,
    "name": "Akshath Pai",
    "age": 26,
    "grade": "A",
    "enrollment_date": "2024-04-12 00:00:00",
    "subject_ids": [
        1,
        4
    ],
    "subject_details": [
        {
            "_id": 1,
            "name": "Advance Statistics"
        },
        {
            "_id": 4,
            "name": "Database Foundation"
        }
    ]
}
{
    "_id": 103,
    "name": "Subhodh Kalley",
    "age": 26,
    "grade": "C",
    "enrollment_date": "2023-11-12 00:00:00",
    "subject_ids": [
        4,
        3
    ],
    "subject_details": [
        {
            "_id": 4,
            "name": "Database Foundation"
        },
        {
            "_id": 3,
            "name": "Data visualization"
        }
    ]
}